
<div class="form-group">
  <h1>  Happy Learning {{loginUser.name | uppercase}}!</h1>
  </div>

  <form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
      <label for="notes">Notes</label>
      <input  type="text"
              class="form-control"
              name="notes"
              id="notes"
              ngModel
              #notes="ngModel"  
              [(ngModel)]="currentnote"
              required>
              <div *ngIf="notes.touched && notes.errors">
                  <div class="alert alert-danger" 
                      *ngIf="notes.errors.required">
                      Notes can not be Empty
                  </div>
              </div>
      </div>
    <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
  </form>