
<div class="form-group">
  <h1>  Happy Learning {{loginUser.name | uppercase}}!</h1>
  </div>

  <form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
      <label for="notes">Notes</label>
      <input  type="text"
              class="form-control"
              name="notes"
              id="notes"
              ngModel
              #notes="ngModel"  
              [(ngModel)]="currentnote"
              required>
      </div>
    <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
  </form>

  <table class="table table-sm table-hover">
    <tr *ngFor="let note of allnotes">
      <td>{{note}}</td>
    </tr>
  </table>